<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiTapLon"
        tools:targetApi="34">

     
        <activity
            android:name=".trang_chao.SplashActivity"
            android:theme="@style/Theme.BaiTapLon"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".trang_dangnhap.MainActivity" android:exported="false" />
        <activity android:name=".trang_dangky.DangKyActivity" android:exported="false" />
        <activity android:name=".trang_chuyendoi.ConvertActivity" android:exported="false" />
        <activity android:name=".trang_thitruong.ThiTruongActivity" android:exported="false" />
        <activity android:name=".trang_tintuc.NewsActivity" android:exported="false" />
        <activity android:name=".trang_caidat.CaiDatActivity" android:exported="false" />
        <activity android:name=".trang_chuyendoi.ChonDonViActivity" android:exported="false" />
        <activity android:name=".trang_bieudo.BieuDoActivity" android:exported="false" />
        <activity android:name=".trang_hoso.ProfileActivity" android:exported="false" />

    </application>

</manifest>